.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 495px;
  height: 300px;
}

.preview-image {
  margin: 0 auto;
  background: #E4E4E4;
  min-width: 200px;
  min-height: 150px;
}

.download-well {
  background: #38424D;
  border-radius: 20px;
}

.download-well p {
  font-size: 18px;
}

.jumbotron .small {
  font-size: 16px;
}
.jumbotron .text-muted{
  color: #7D8FA1;
}

.tool {
  font-size: 20px;
}

.s {
  font-size: 39px;
}
